<%- include('../partials/header') %>

    <section id="show-page">
        <div>Park: <%= park.parkName %></div>
        <div>Park code: <%= park.parkCode %></div>
        <div>
            <img src="<%= park.parkImage %>">
        </div>
    </section>

<%- include('../partials/footer') %>